.forms {
    background-color: var(--bg-cards);
    margin: 4rem;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.856);
}

.forms a {
    text-decoration: none;
    color: rgb(5, 14, 1)
}