.navbar {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

@media only screen and (max-width: 750px) {
    .navbar {
      display: none;
    }
  }


.item {
    margin-left: 1px;
    list-style: none;
    align-items: center;
}

.item a{
    text-decoration: none;
    color: #ffff;
    text-align: center;
    padding: 6px 30px 6px 30px;
    background-color: #460376;
}

.item a:hover {
    background-color: #771D53;
}


